@font-face {
    font-family: FuturaPT-Heavy;
    src: url(../font/FuturaPT-Heavy.ttf);
}
@font-face {
    font-family: FuturaPT-Medium;
    src: url(../font/FuturaPT-Medium.ttf);
}
@font-face {
    font-family: FuturaPT-Book;
    src: url(../font/FuturaPT-Book.ttf);
}
@font-face {
    font-family: FuturaPT-Bold;
    src: url(../font/FuturaPT-Bold.ttf);
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: FuturaPT-Heavy;
}

p, ul, a{
    font-family: FuturaPT-Book;
}

button {
    font-family: FuturaPT-Bold;
}

strong {
    font-family: FuturaPT-Heavy;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
    scroll-behavior: smooth;
    border: none;
    background: none;
    list-style: none;
}

li,
a,
button {
    text-decoration: none;
    color: black;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.2));
}

.header_navigation {
    background: white;
    width: 100%;
}

.header_up {
    padding: 15px 2.5%;
}

.header_logo { 
    height: 40px;
    cursor: pointer;
}

.header_contact {
    width: 500px;
    height: 40px;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_network {
    width: 31px;
    height: 31px;
    cursor: pointer;
    transition: .2s;
    filter: grayscale(1);
}

.header_network:hover {
    filter: grayscale(0);
}

#header_tel {
    font-size: 24px;
}

.header_btn-nav {
    font-size: 16px;
    border: 2px solid #B01116;
    color: #B01116;
    height: 40px;
    padding: 0 20px;
    background: none;
    cursor: pointer;
    transition: .2s;
}

.header_btn-nav:hover {
    color: #fff;
    background: #b01116;
}

.header_btn-nav-2 {
    display: none;
    font-size: 16px;
    border: 2px solid #B01116;
    color: #B01116;
    height: 40px;
    padding: 0 20px;
    background: none;
    cursor: pointer;
    transition: .2s;
}

.header_btn-nav-2:hover {
    color: #fff;
    background: #b01116;
}

.header_hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #e2e2e2;
    padding: 0;
    margin: 0 2.5%;
}

.header_nav__links {
    display: flex;
    justify-content: space-between;
    padding: 10px 2.5%;
    text-transform: uppercase;
}

.header_nav__links_active {
    color: #B01116;
}

.header_nav__links li {
    display: inline-block;
}

.header_nav__links li a {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-size: 14px;
}

.header_nav__links li a:hover {
    text-decoration: underline;
}


footer {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE; 
}

footer h2 {
    font-size: 24px;
    font-family: FuturaPT-Medium;
    color: #B01116;
}

footer p li a{
    font-size: 16px;
    font-family: FuturaPT-Book;
}

.footer {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer li {
    margin-top: 10px;
}

#footer_logo {
    width: 300px;
    height: 57px;
}

.footer__info {
    width: 358px;

    padding-top: 50px;
}

.footer__info p {
    padding-top: 20px;
}

.footer__links {
    width: 204px;
    height: 284px;

    padding-top: 50px;
}

.footer__links a:hover {
    text-decoration: underline;
}

.footer__contacts {
    width: 224px;
    height: 253px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.footer__contacts img{
    width: 21px;
    height: 21px;
    margin-top: 10px;
}

.footer__contact {
    display: flex;
    flex-direction: row;
}

.footer__contact a {
    margin-top: 10px;
}

.footer__contact a:hover {
    text-decoration: underline;
}

.footer__contact img {
    margin-right: 10px;
}

.footer__text__contacts p {
    margin-top: 10px;
}

.footer__other__text {
    margin-left: 31px;
}


.modal-window_entry {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-window_entry.show-entry {
    display:block;
}

.popup-course-block {
    position: relative;
    background-color: #ffffff;
    margin: 10% auto;
    width: 500px;
    max-width: 95%;
    animation-name: animatetop;
    animation-duration: .4s; 
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; 
}

.popup-course {
    padding: 16px;
}
.form-course {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-course input[type=text], .form-course input[type=email], .form-course select {
    width: 80%;
    padding: 16px 0;
    margin: 8px 0;
    border-bottom: 1px solid #c9c9c9;
    box-sizing: border-box;
}

.form-course select {
    border: none;
}

/* Button */
.btn_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.course_btn-2 {
    font-size: 16px;
    border: 2px solid #B01116;
    color: #B01116;
    height: 40px;
    padding: 0 20px;
    background: none;
    cursor: pointer;
    transition: .2s;
    font-family: FuturaPT-Bold;
}

.course_btn:hover {
    color: #fff;
    background: #b01116;
}

.close-course {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
}

.close-course:hover,
.close-course:focus {
    color: #b01116;
    text-decoration: none;
    cursor: pointer;
}


/* Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-callback-block {
    position: relative;
    background-color: #ffffff;
    margin: 10% auto;
    width: 500px;
    max-width: 95%;
    animation-name: animatetop;
    animation-duration: .4s; 
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px; 
}

.popup-callback {
    padding: 16px;
}

.popup-footer {
    padding: 20px;
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 36px;
    font-weight: bold;
}

.close.callback:hover,
.close.callback:focus {
    color: #b01116;
    text-decoration: none;
    cursor: pointer;
}

.form-callback {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-callback input[type=text], .form-callback input[type=email] {
    width: 80%;
    padding: 16px 0;
    margin: 8px 0;
    border-bottom: 1px solid #c9c9c9;
    box-sizing: border-box;
}

/* Button */
.btn_block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

/*.callback_btn {
    width: 50%;
    padding: 12px 0;
    font-size: 20px;
    background: none;
    cursor: pointer;
    color: white;
    transition: all 250ms;
}*/

.callback_btn {
    font-size: 16px;
    border: 2px solid #B01116;
    color: #B01116;
    height: 40px;
    padding: 0 20px;
    background: none;
    cursor: pointer;
    transition: .2s;
    font-family: FuturaPT-Bold;
}

.callback_btn:hover {
    color: #fff;
    background: #b01116;
}

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;

    font-size: 0;
    color: transparent; 

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #b01116;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    transition: background .2s linear;
}

/*.nav-toggle.active .nav-toggle_item {
    background: none;

}*/

.nav-toggle_item:before,
.nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;

    background-color: #b01116;

    position: absolute;
    left: 0
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle_item:before {
    top: -8px;
}

.nav-toggle_item:after {
    bottom: -8px;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .header_contact {
        display: none;
    }

    .header_hr {
        display: none;
    }

    .header_nav__links {
        display: none;
    }

    .header_nav__links.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        justify-content: space-evenly;
    }

    .header_btn-nav-2 {
        display: block;
    }
}

@media (max-width: 400px) {
    .form-course input[type=text], .form-course input[type=email], .form-course select {
        width: 95%;
    }

    .footer {
        justify-content: left;
    }
}
