.teachers-3 {
    width: 1200px;
    height: min-content;
    margin: 75px auto 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 75px 75px;
}